<div class="container">
  <div class="row justify-content-center">
  

    <h2 class="h2">Upcoming events</h1>
    <% @upcoming_events.each do |event| %>
      <p class="bold"> title: <%=event.title%></p>
      <p>date:<%=event.date%></p>
      <p>description: <%=event.description%></p>
      <%= link_to "know more about #{event.title}", event, class:'btn btn-primary w-25' %>
    <% end %>
  </div>
 
  <div class="row justify-content-center">
    <h2 class="h2">Previous events</h1>
    <% @previous_events.each do |event| %>
      <p class="bold"> title: <%=event.title%></p>
      <p>date:<%=event.date%></p>
      <p>description: <%=event.description%></p>
      <%= link_to "know more about #{event.title}", event, class:'btn btn-primary w-25' %>
    <% end %>
  </div>

</div>
