<% if current_user %>
  <li><%= link_to "#{current_user.username}", current_user %></li>
  <li><%= link_to 'Sign Out', logout_path %></li>
  <li><%= link_to 'Create event', new_event_path  %></li>

<% else %>
  <li><%= link_to 'Sign In', new_session_path  %></li>
  <li><%= link_to 'Sign Up', new_user_path  %></li>
  
<% end %>